html {
  scroll-behavior: smooth;
}

.my-heading {
  background-color: aqua;
  text-decoration: underline;
}

h1 {
  color: grey;
  font-style: bold;
  font-size: 70px;
  height: 80px;
  text-align: left;
  margin-top: 10px;
  font-family: sans-serif;
}

h2 {
  color: red;
  font-style: bold;
  font-size: 70px;
  height: 80px;
  text-align: left;
  margin-top: 10px;
  font-family: sans-serif;
}

.second {
  background-color: #181818;
  color: white;
}

.second_text {
  text-align: center;
  color: white;
  font-size: 40px;
}

.second_project {
  text-align: center;
  color: white;
  font-size: 30px;
}

/*animations on reload*/
.animate {
  width: 800px;
  height: 90px;
  text-align: left;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 10px;
  }
}

.move {
  text-align: center;
}

hr {
  color: white;
  width: auto;
  height: auto;
  fill: white;
  background-color: white;
}

.emphasis {
  font-style: italic;
}

/*More projects Button animation*/
.but {
  background-color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 60px;
  border-radius: 100px;
  border: none;
  animation-name: button_anima;
  animation-duration: 2s;
}
.buto {
  transition: all 0.2s ease-in-out;
}
.buto:hover {
  transform: scale(1.2);
}

img {
  text-align: center;
  height: 300px;
  width: 300px;
}

.para {
  text-align: center;
  font-size: 20px;
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  font-size: 100px;
}

/* underline on hover for hyperlinks on top */
.txt {
  position: relative;
  display: inline;
  overflow: hidden;
}

.txt:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: white;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.txt:hover:after,
.txt:focus:after,
.txt:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/* underline on hover code end*/

.links {
  text-align: right;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 30px;
  text-decoration: none;
  color: white;
  font-style: bold;
  height: 45;
}

.main {
  background-color: black;
}

.interest {
  font-style: bold;
  background-color: greenyellow;
  border: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  font-size: 50px;
  height: 60px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.interest_item {
  font-size: 30px;
  background-color: lightcoral;
  display: flex;
  height: 210px;
  width: auto;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.interest_image {
  width: 300px;
  height: 180px;
  text-align: center;
}

.interst_text {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background-image: "https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==";
  background-repeat: no-repeat;
}

.projects {
  font-size: 30px;
  background-color: lightcoral;
  display: flex;
  height: 300px;
  width: auto;
  font-style: bold;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
